*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
html , body{
  height: 100%;
  width: 100%;
}

body {
/* color: #6fff00; */
color: #222;
}

img{
  max-width: 100%;
}

main {
padding: 10px;
max-width: 1000px;
margin: 0 auto;
}

header {
display: flex;
justify-content: space-between;
margin-bottom: 30px;
align-items: center;
margin-top: 10px;
}
header a {
text-decoration: none;
color: inherit;
}

header a.logo {
font-weight: bold;
font-size: 1.5rem;
}
header nav {
display: flex;
gap: 15px;
}

/* .login svg{
  position: absolute;
  left: 135px; 
  width: 30px; 
  height: 30px;
  margin-top: 2px;
}
.login input {
  padding-left: 35px; 
  width: 100%;
  box-sizing: border-box;
} */

.login, .register{
  width: 100%;
  align-items: center;
  display:grid;
  justify-content: center;
}
.login .input-wrapper,
.register .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Adjust as needed */
}

.login .input-wrapper .icon,
.register .input-wrapper .icon  {
  position: absolute;
  left: 10px; /* Adjust as needed */
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

.login .input-wrapper input,
.register .input-wrapper input {
  padding-left: 35px; /* Adjust as needed to make room for the icon */
  box-sizing: border-box;
  width: 350px;
}

div.post{
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: .75fr 1.25fr; */
  gap: 15px;
  margin-bottom: 10px;
}

div.post div.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 786px){
  div.post{
    grid-template-columns: .75fr 1.25fr;
  }
 
}
  

div.post div.texts h2{
  margin: 0%;
  font-size: 1.6rem;
}

div.post div.texts a{
  text-decoration: none;
  color: inherit;
}
div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author{
  color: #333;

}

div.post p.summary{
  margin: 10px 0;
  line-height: 1.5rem;
}

form.login form.register{
max-width: 400px;
margin:0 auto;
}

input{
display: block;
margin-bottom: 5px;
width: 100%;
padding: 7px 10px;
border: 2px solid #ddd;
border-radius: 5px;
background-color: #fff;
}

button{
width: 100%;
display: block;
background-color: #555;
color: #fff;
border-radius: 5px;
padding: 7px 0;
}
form.login h1, form.register h1{
text-align: center;
margin-bottom: 30px;
}

div.post-page div.image{
  max-height: 250px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
  margin-bottom: 20px;
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a{
  color: #333;
  text-decoration: underline;
}

div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;

}
/* div.post-page time{
  text-align: center;
  display: block;
  font-size: 0.9 rem;
  color: #aaa;
} */

div.post-page div.author{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
  display: block;
  font-size: 1.3 rem;
  font-weight: bold;
} 

div.post-page div.content p{
  line-height: 1.7rem;

}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #555;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: white;
  padding: 6px;
  text-decoration: none;
  border-radius: 5px;
}

a svg{
  height: 20px;
}